#################
## Eclipse
#################

PrestigeLabel.zpl
*.pydevproject
*.pyc
.project
.metadata
.gradle
bin/
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
errlog.dat
ctags
tags
