#################
## Eclipse
#################

PrestigeLabel.zpl
*.pydevproject
*.pyc
.project
.metadata
.gradle
bin/
tmp/
target/
*.tmp
*.bak
*.sw*
*~.nib
local.properties
.classpath
.settings/
.loadpath
errlog.dat
ctags
tags
pylint.txt
cpprinter/printerid.py
printerid.py
printerinfo.py
/logs/
